/* Placing all default styles to zero */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: large;
    font-weight: 300;
}

body {
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    /* header, content, footer */
    grid-template-columns: 1fr;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin-bottom: 13px;
    font-size: 1.8rem;
}

/* nav styling */
.nav-container {
    width: 100%;
    background-color: #020202;
    height: auto;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 4px;
}

/* Content container with grid for main + aside */
.content-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* Main large, aside smaller */
    gap: 10px;
    padding: 10px;
    
}

main {
    background-color: #e1e1e1;
    padding: 20px;
}

aside {
    background-color: #f4f4f4;
    padding: 20px;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}