/* Placing all default styles to zero */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    background-color: #FAFAFA;
    color: #222;
    margin: 0;
    padding: 0;
}

/* Header styling */
header .course-title {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 0;
    color: #6C63FF;
}

/* Nav styling: Flex navigation style */
nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: #6C63FF;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

nav a:hover {
    background-color: #3F3D56;
    transform: scale(1.05);
}

/* Main styling */
main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* styling the cards */
section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 20px;
    height: 50%;
}
section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #3F3D56;
    /*background-color: #3F3D56;*/
}
section.card {
    height: 50%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(44, 62, 80, 0.1);
}

section.card img {
    width: 50%;
    height: 50%;
    border-radius: 8px;
}

section.card img:hover {
    background-color: #3F3D56;
    transform: scale(1.55);
    transition: transform 0.3s, background-color 5.3s;
}

/* Responsive adjustments for the cards */
@media (min-width: 600px) {
    section.card {
        grid-template-columns: 1fr 1fr;
    }
}

/* Footer styling*/
footer {
    background-color: #2C3E50;
    color: #ECF0F1;
    padding: 20px;
    text-align: center;
}

footer a img{
    width: 20px;
    height: 20px;
    margin: 2px;
    transition: transform 0.3s, background-color 0.3s;
    translate: 1px 8px;
}

footer a img:hover {
    background-color: #3F3D56;
    transform: scale(2.05);
}